.company-list {
  overflow: scroll;
  overflow-x: hidden;
  border: 1px solid #eeeeee;
  height: 70vh;
}

.company-card {
  width: 100%;
  text-align: left;
  margin: auto;
  font-size: 12px;
}

.company-info {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.selected-card {
    border: 1px solid lightgray;
    background-color: whitesmoke;
    padding: 15px;
}

.inner-card {
    border: 2px solid #eeeeee;
    box-shadow: 1px 1px #eeeeee;
    padding: 15px;
    line-height: 25px;
    border-radius: 3px;
}

.nav-buttons {
  margin: 25px;
}