.logo {
    width: 10vh;
}

.logo2 {
    width: 40vh;
}

@media (min-width: 1136px) {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-width: 0;
        min-height: 0;
        padding-top: 24px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}
